 <header>
    <nav>
      <ul>
        <li>
          <a href="/">🏠 AirBnB</a>
        <li>
          <a id="index" href="/index">Homelist</a>
        </li>
         <li>
          <a id="favourites" href="/favourites">Favourites</a>
        </li>
         
        
        <li>
          <a id="bookings" href="/bookings">My Bookings</a>
        </li>
         <li>
          <a id="hosthome" href="/host/gethosthome">Hosthome</a>
        </li>
        <li>
          <a id="addHome" href="/host/addHome">+ Add Home</a>
        </li>
      </ul>
    </nav>
  </header>